
body{
    
    font-family: 'Akaya Telivigala';font-size: 17px;
    background-color: aqua;
}

div  p{
    background-color:aquamarine;
}

section > h3{
    background-color: blue;
}

h3{
    background-color: violet;
}

section + h3{
color: violet;
}

a[target = _blank]{
    background-color: springgreen;
}

#introImp{
    background-color: steelblue;
}

#introImp::first-letter{
    font-size: 30px;
    color:black;
    opacity: 0.7;
}

#poema{
    background-color: blueviolet;
}

a:link {color: rgb(136, 0, 113)}
a:visited{color: darkblue}
a:hover{color: yellow}
a:active{color: red}

a::before{
    content: "👉";
}

p.quizz {display: list-item;}

h2.escondido {
    visibility: hidden;
    height: 2px;
  }